<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <mat-card class="w-full max-w-sm p-6">
    <mat-card-header>
      <mat-card-title class="text-center w-full text-2xl">Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="space-y-4" [formGroup]="registerForm" (ngSubmit)="onClickSubmit()">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="username" formControlName="username" name="username" required placeholder="Name">
          <mat-error *ngIf="username.errors && username.touched">Invalid name!</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" name="email" required placeholder="example@mail.com" (blur)="updateErrorMessage()">
          <mat-error *ngIf="email.errors && email.touched || !email.valid">Invalid email!</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" name="password" required placeholder="Safe Password">
          <mat-error *ngIf="password.errors && password.touched">Invalid Password! (min 8 symbols containing letters, numbers and special characters)</mat-error>
        </mat-form-field>
          <button class="flex justify-end w-full" type="submit" mat-raised-button color="primary">Login</button>
        <mat-error>{{apiError}}</mat-error>
      </form>
      <a routerLink="/login" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Already have an account?</a>
    </mat-card-content>
  </mat-card>
</div>
