<main>
  <div class="grid grid-rows-12">
    <app-profile-view></app-profile-view>

    <div class="bg-black">
      <button class="rounded-full bg-gray-200 w-20 h-20 drop-shadow-lg shadow-white mr-2.5">
        <img class="drop-shadow-md mx-auto" ngSrc="../../assets/x.png" width="50" height="50">
      </button>
      <button class="rounded-full bg-red-300 w-20 h-20 drop-shadow-lg shadow-white ml-2.5">
        <img class="drop-shadow-md mx-auto" ngSrc="../../assets/heart.png" width="50" height="50">
      </button>
    </div>

  </div>
</main>
