<main class="h-screen">
  <div class="flex flex-col bg-black h-screen">
    <!--<app-profile-view class="flex-none justify-center"></app-profile-view>-->

    <div class="flex justify-center bg-white">
      <div (pan)="handlePan($event)" (panend)="handlePanEnd($event)" #tinderCard class="tinder--card bg-white" (transitionend)="handleShift()" *ngFor="let user of users; let i = index"
           [ngStyle]="{ zIndex: users.length - i, transform: 'scale(' + (20 - i) / 20 + ') translateY(-' + 20 * i + 'px)' }">
        <img *ngIf="user.images.length > 0" [src]="sanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' + user.images[0].data)" height="512" width="512">
        <h3>{{ user.userName }}, {{user.age}}</h3>
        <p>{{ user.residence }}</p>
      </div>
    </div>

    <div class="tinder--buttons bg-black">
      <button (click)="userClickedButton($event, false)" class="rounded-full bg-gray-200 w-20 h-20 drop-shadow-lg shadow-white mr-2.5">
        <img class="drop-shadow-md mx-auto" ngSrc="../../assets/x.png" width="50" height="50">
      </button>

      <button (click)="userClickedButton($event, true)" class="rounded-full bg-red-300 w-20 h-20 drop-shadow-lg shadow-white ml-2.5">
        <img class="drop-shadow-md mx-auto" ngSrc="../../assets/heart.png" width="50" height="50">
      </button>
    </div>
  </div>
</main>
